body {
  background-color: rgb(21,21,21);
  color: #6f96ff;
  padding: 0;
  margin: 0;
}

h1.titulo{
	color: rgb(111,150,255);
	font-size: 20px;
	left: 10px;
}

.nome{
	position: absolute;
	left: 60px;
	top: 0px;
	z-index: -1;
}

ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  float:left;
}

li a {
  
  text-align: center;
  padding: 14px 110px;
  text-decoration: none;
  color: rgb(255,255,255);
  font-weight: bold;
}

nav{
	position: absolute;
	left: 300px;
	top: 5px;
	z-index: -1;
	height: 10px;
	background-color: rgb(21,21,21);
}

li a:hover {
  color: rgb(111,150,255);
  transition: linear 0.25s color;
}

hr.linha {
  border: 1px solid;
  color: #9fafc1;
  top: 60px;
  position: relative;

}

.conteudo{
	position: relative;
	top: 5px;
}

.retour{
	position: absolute;
	top: 130px;
	left: 450px;
	right:500px;
	
}

h1.foco{
	color: #6f96ff;
	text-align: center;
	font-weight: 100px bold;
}

input {
  width: 100%;
  color: #6f96ff;
  background-color: rgb(21,21,21);
}

.cont1{
	position: relative;
	top: 390px;
	left: 140px;
	float: left;
}

.opcoes{
	background-color: #5c65c0;
	color: #ffffff;
	padding: 20px 30px;
	text-align: left;
	font-family: 'Bai Jamjuree';
}

.opcoes:hover{
	transition: linear 0.25s background-color;
	background-color: #515ab8b6;
}

.cont2{
	position: absolute;
	top: 383px;
	left: 340px;
	float: right;
	text-align: left;
}

#error{
	color: white;
	height: 60px;
	width: 250px;
	background-color: #5c65c0;
	justify-content: center;
	text-align: center;
	position: fixed;
	visibility: hidden;
	border: 0px;
	animation: animacao 5s;
    	animation-fill-mode: forwards; 
}

@keyframes animacao {         
	0%   {top: 0px;}
	100%  {top: 120px; visibility:hidden;
}

input[type=text] {
  width: 100%;
  padding: 20px 190px;
  margin: 8px 0;
  border: 1px solid;
  color: #5c65c0;
  text-align: left;
}

 ::placeholder,::-webkit-input-placeholder {
    color: #6f96ff;
	text-align: left;
  }

.cont3{
	position: relative;
	top: 391px;
	right: 240px;
	float: right;
	width: 70px;
}

.botao{
	width: 70px;
	background-color: #5c65c0;
	height: 47.5px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0px;
}
.botao:hover{
	transition: linear 0.25s background-color;
	background-color: #515ab8b6;
}
.explica{
	top: 480px;
	position: absolute;
	left: 350px;
	font-size: 30px;
}

.explicacao{
	color: #ffffff;
	top: 550px;
	left: 300px;
	position: absolute;
	font-size: 17px;
}

hr.linha2 {
  border: 1px solid;
  color: #9fafc1;
  position: relative;
}

footer{
	position: absolute;
	top: 750px;
	left: 0px;
	right: 0px;

}

p.copia{
	text-align: center; 
	color: #9fafc1;
	left: 250px;
	right: 250px;
}
