body {
  background-color: rgb(21,21,21);
}

h1.titulo{
	color: rgb(111,150,255);
	font-size: 20px;
	left: 10px;
}

.nome{
	position: absolute;
	left: 60px;
	top: 0px;
	z-index: -1;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgb(255,255,255);
}

li{
  float:left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 110px;
  text-decoration: none;
  color: rgb(255,255,255);
  font-weight: bold;
}

nav{
	position: absolute;
	left: 300px;
	top: 8px;
	z-index: -1;
	height: 10px;
}

li a:hover {
  color: rgb(111,150,255);
  transition: linear 0.25s background-color;
}

hr.linha {
  border: 1px solid;
  color: #9fafc1;
  top: 60px;
  position: relative;
}

hr.linha2 {
  border: 1px solid;
  color: #9fafc1;
  top: 550px;
  position: relative;
}

hr.linha3 {
  border: 1px solid;
  color: #9fafc1;
  top: 850px;
  position: relative;
}

hr.linha4 {
  border: 1px solid;
  color: #9fafc1;
  top: 1150px;
  position: relative;
}

h1.frase{
	color: #b161f4;
	font-size: 50px;
}

.esquerdainicial{
	position: absolute;
	top: 150px;
	left: 90px;
	width: 500px;
}

p.frase2{
	color: #6f96ff;
	font-size: 25px;
}

.direitainicial{
	position: absolute;
	top: 145px;
	right: 110px;
	width: 500px;
	float: right;
}

.imagemfoco{
	border-radius: 16px;
	width: 110%;
	float: left;
	
}

.conteudo{
	position: absolute;
	top: 640px;
	left: 110px;
	right: 110px;
}

h3{
	color: #b161f4;
	font-size: 20px;
	text-align: center;
}

p.centro{
	color: #ffffff;
	text-align: center;
}

.cont1{
	width: 250px;
	float: left;
}

.cont2{
	width: 250px;
	float: left;
	left: 410px;
	position: absolute;
	top: 0px;
}

.cont3{
	width: 250px;
	float: right;
}

.conteudo2{
	top: 980px;
	position: absolute;
	left: 120px;
	right: 130px; 
}
.retour{
	font-weight: bold;
	position: absolute;
	top: -74px;

}

.imagemfoco2{
	border-radius: 16px;
	width: 35%;
	float: left;
	
}

.explicacao{
	position: absolute;
	float: right;
	right: 50px;
	width: 800px;
	left: 320px;
	text-align: left;
	top: 5px;
	font-size: 22px;
}

.explica{
	color: #ffffff;
}

footer{
	position: absolute;
	top: 1200px;
	left: 250px;
	right: 250px;
}

p.copia{
	text-align: center; 
	color: #9fafc1;
}