#linav{
	text-align: center;
	position: relative;
	top: -8px;
	left: 20%;
	bottom: 35px;
	width: 35vh;
	min-width: 270px;
}
h1.titulo{
	color: rgb(111,150,255);
	font-size: 20px;
	left: 10px;
}
.nome{
	position: relative;
	top: 25px;
	left: 2.5%;
}
ul{
	list-style-type: none;
	overflow: hidden;
}
li{
	float:left;
	padding-left: 10%;
}
li a {
	text-decoration: none !important;
	color: rgb(255,255,255);
	font-weight: bold !important;
}
li a:hover {
	color: rgb(111,150,255);
	transition: linear 0.25s color !important;
}
.imagemfoco2{
	border-radius: 16px;
	width: 35%;
	float: left;
}
#container2,#container3{
	margin-top: 100px;
	margin-bottom: 100px;
}
hr.linha {
	border: 1px solid;
	color: #9fafc1;
	position: relative;
}
hr.linha2 {
	border: 1px solid;
	color: #9fafc1;
}
hr.linha3 {
	border: 1px solid;
	color: #9fafc1;
	position: relative;
}
hr.linha4 {
	border: 1px solid;
	color: #9fafc1;
	position: relative;
}
h1.frase{
	color: #b161f4;
	font-size: 50px;
	font-weight: bold;
}
p.frase2{
	color: #6f96ff;
	font-size: 25px;
}
.imagemfoco{
	border-radius: 16px;
	width: 110%;
	float: left;
}
h3{
	color: #b161f4;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
p.centro{
	color: #ffffff;
	text-align: center;
}
.conteudo{
	text-align: center;
}

.imagemfoco2{
	border-radius: 16px;
}
.explicacao{
	position: relative;
	font-size: 22px;
}
.explica{
	color: #ffffff;
}
p.copia{
	text-align: center; 
	color: #9fafc1;
}
